/*

COLORS

#AF87CE
#EA1A7F
#FEC603
#A8F387
#16D6FA

*/

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap");

* {
  /* padding: 0;
  margin: 0; */
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Roboto, sans-serif;
  margin: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 100vh;
  overflow: hidden;

  background-color: #fec803;
}

h1 {
  margin: 1rem;
}

.box-color-1 {
  background-color: #af87ce;
}

.box-color-2 {
  background-color: #16d6fa;
}
.box-color-3 {
  background-color: #ea1a7f;
}
.box {
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40rem;
  height: 20rem;
  margin: 1rem;
  border-radius: 10px;
  box-shadow: 2px 4px 5px rgb(0, 0, 0, 0.7);
  transform: translateX(400%);
  transition: transform 0.4s ease;
}

.box:nth-of-type(even) {
  transform: translateX(-400%);
}

.box.show {
  transform: translateX(0);
}

.box h2 {
  font: size 4.5rem;
}
