:root {
  --shadow: 5px 7px 2px #04000d;
  --border-radius: 0.5rem;
  /* form violete to pink */
  --background-color: linear-gradient(to top right, rgb(175, 135, 206) #ea1a7f);
  --color: linear-gradient(to top right, #af87ce rgb(234, 26, 127));
  --button-background1: #fec603;
  --button-background2: #ea1a7f;
  --button-background3: #16d6fa;
  --color1: rgb(175, 135, 206);
  --color2: #ea1a7f;
  --color3: #fec603;
  --color4: #a8f387;
  --color5: #16d6fa;
}

* {
  margin: 0 auto;
  padding: 0 auto;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  max-width: 120rem;
  height: 100vh;
  font-family: "Inter", sans-serif;
  overflow: hidden;
}

.search-box {
  width: 45rem;
  height: 25rem;
  margin-top: 10rem;
  border-radius: 1rem;

  display: flex;
  justify-content: center;
  align-items: center;

  background-image: linear-gradient(90deg, var(--color2), var(--color3));
}

.search {
  position: relative;
  height: 5rem;
  /* transition: width 0.3s ease; */
}

.search .input {
  background-color: #fff;
  border: 0;
  font-size: 1.8rem;
  padding: 1.5rem;
  height: 5rem;
  width: 5rem;

  /* 
  
    Linear: Constant speed transition.
    Ease: Gradual acceleration and deceleration.
    Ease-in: Slow start, faster end.
    Ease-out: Fast start, slower end.
    Ease-in-out: Slow start and end, faster middle.
    Cubic-bezier: Custom transition curve.

*/
  transition: width 0.3s ease;
  /* transition: width 0.3s linear; */
  /* transition: width 0.3s ease-in; */
  /* transition: width 0.3s ease-in-out; */
  /* transition: width 0.3s cubic-bezier; */
}

.btn {
  background-color: #fff;
  border: 0;
  cursor: pointer;
  font-size: 2.4rem;
  position: absolute;
  top: 0;
  left: 0;
  height: 5rem;
  width: 5rem;
  transition: transform 0.3s ease;
}

.btn:focus,
.input:focus {
  outline: none;
}

/* .search.active {
  transform: translateX(-1.5rem);
} */

.search.active input {
  width: 20rem;
}
.search.active .btn {
  transform: translateX(19rem);

  /* transform: translateY(198px); */
  /* transform:perspective(3rem); */
}
